.tile{

  padding:5px

} 
.rowClass{
    margin-left: 10px ;
  margin-right: 10px ;

}
.innerClass{
  border: 1px solid #00000012;
  height: 450px;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 1px 1px 13px 6px #00000012;
  margin: 10px;
}
.cardDiv{
    display: flex;
  justify-content: space-between;

}
.card-img-top{
  height: 235px;
  width: 313px;
}
.selectClass{
  border-radius: 5px;
    font-size: small;
    font-weight: bold;
    background-color: #eae3e3;
    height: 28px;
}