.btnWidth {
    width: 180px;
}
body{
    background-color: #e8e7e7;
}
.socialBtn {
    width: 130px;
}
.mainClass{
    
    margin-left: 490px;
    margin-top: 50px;
    border-radius: 10px;
    background: #64b6ac47;
    box-shadow: 1px 1px 13px 6px #00000012;
}
.h4{
    font-weight: bolder;
    color: #788e97;
}
button{
    background-color:#788e97;
    color: white;
    font-weight: bold;
    box-shadow:0px 3px 2px 0px #888888
}
input{
    box-shadow:0px 3px 2px 0px #888888
}
.showError{
    display: block!important;
  } 
  .formClass{
    padding: 30px 50px;
  }