<div class="container">

    <form [formGroup]="feedbackForm" >
        <h2 >Feedback Form</h2>
        <div class="row">
            <div class="innerInput">
                <input required type="text" id="firstName" name="firstName" formControlName="firstName"
                    placeholder="Your name..">
            </div>
            <div *ngIf="submitted && feedbackForm.controls.firstName.errors" class="invalid-feedback showError col-75">
                <div *ngIf="feedbackForm.controls.firstName.errors['required']">First Name is required</div>
            </div>
        </div>

        <div class="row">
            <div class="innerInput">
                <input required type="text" id="lastName" name="lastName" formControlName="lastName"
                    placeholder="Your last name..">
            </div>
            <div *ngIf="submitted && feedbackForm.controls.lastName.errors" class="invalid-feedback showError col-75">
                <div *ngIf="feedbackForm.controls.lastName.errors['required']">Last Name is required</div>
            </div>
        </div>
        <div class="row">
            <div class="innerInput">
                <input required type="email" id="email" name="email" formControlName="email"
                    placeholder="Your mail id..">
            </div>
            <div *ngIf="submitted && feedbackForm.controls.email.errors" class="invalid-feedback showError col-75">
                <div *ngIf="feedbackForm.controls.email.errors['required']">Email is required</div>
            </div>
        </div>

        <div class="row">
            <div class="innerInput">
                <textarea id="subject" required name="subject" formControlName="subject" placeholder="Write something.."
                    style="height:200px"></textarea>
            </div>
            <div *ngIf="submitted && feedbackForm.controls.subject.errors" class="invalid-feedback showError col-75">
                <div *ngIf="feedbackForm.controls.subject.errors['required']">Subject is required</div>
            </div>
        </div>
        <button type="submit" class="btn btn-primary" (click)="submitFeedback('arr')">Submit</button>
    </form>
</div>